*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #222;
  min-width: 320px;
}

h1,h2,h3,h4,h5,h6 {
  color: #555;
  text-transform: uppercase;
  font-weight: normal;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.input {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  padding: 8px 12px;
  font-size: 15px;
  margin-bottom: 12px;
  max-width: 100%;
  min-width: 100%;
}

#instructions {
  padding: 20px;
  background-color: #eee;
  border-radius: 4px;
  transition: background-color 270ms ease-in-out;
}

#instructions:empty {
  display: none;
}

#instructions.error {
  background-color: #e77;
}

#instructions.danger {
  background-color: #ee7;
}

#instructions.success {
  background-color: #6e9;
}

.input:focus {
  border-color: #37e;
}

.label {
  font-size: 16px;
  display: block;
  margin-bottom: 4px;
  color: #444;
}
